body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Añade este estilo para centrar el texto del footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}


  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
  }
  
  .event-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .event {
    width: 80%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .event:hover {
    background-color: #45a049;
  }
  
  .event-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-details:hover {
    background-color: #555;
  }
  